nav {
    border-radius: 3px;
    padding: 5px;
    width: 95%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 2px 4px #000000;
}

strong {
    display: inline-block;
    font-size: 20px;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: 25px auto;
}

button {
    border: none;
    font-size: 12px;
}

.sign-out-button {
    background-color: black;
    color: white;
}

.username-div {
    display: inline-block;
    text-align: center;
}



.div-created-question, .div-create-answer {
    width: 85%;
    padding: 30px;
    border: solid black;
    border-radius: 10px;
    margin: 25px auto;
}

.answer-text-area {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    height: 100px;
    display: block;
}

.file-upload {
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 40px;
}

.submit-answer-button {
    width: 80px;
    margin: auto;
    display: block;
    padding: 10px;
    border: solid black;
    border-radius: 15px;
    background-color: rgb(117, 234, 117);
}
.div-image {
    border: solid black;
    width: 74.5%;
    margin: 10px auto;
}

.created-question-table {
    border: black solid;
    border-collapse: collapse;
    width: 75%;
    margin:auto;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

td {
    border: solid black;
    padding: 10px;
}