nav {
    border-radius: 3px;
    padding: 5px;
    width: 95%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 2px 4px #000000;
}

strong {
    display: inline-block;
    font-size: 20px;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: 25px auto;
}

button {
    border: none;
    font-size: 12px;
}

.sign-out-button {
    background-color: black;
    color: white;
}

.username-div {
    display: inline-block;
    text-align: center;
}

.chat-list {
    width: 85%;
    padding: 25px;
    border: solid black;
    border-radius: 10px;
    margin: 25px auto;
}

.user-chat-table {
    border: black solid;
    border-collapse: collapse;
    width: 75%;
    margin: 25px auto;
    text-align: center;
}

thead {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: aliceblue;
}

td {
    border: solid black;
    padding: 10px;
}

.start-chat-button {
    padding: 8px;
    border: solid black;
    border-radius: 15px;
    background-color: rgb(117, 234, 117);
}