<nav>
    <strong>DoConnect</strong>
    <button class="create-question-button" (click)="goCreateQuestion()">Create Question</button>
    <button class="search-question-button" (click)="goSearchQuestion()">Search Question</button>
    <button class="chat-button" (click)="goChat()">Chat with Us!</button>
    <button class="sign-out-button" (click)="goSignOut()">Sign Out</button>
    <div class="username-div">
        {{username}}
    </div>
</nav>
<h2>Chat</h2>
<div class="chat-list">
    <table class="user-chat-table">
        <!--How do I align the table header to the left??-->
        <!--Juan David-->
        <thead align="left">
            <th>Name</th>
            <th>Username</th>
        </thead>
        <tbody *ngFor="let user of trueUsers">
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
                <button class="start-chat-button" (click)="startChat(user.username)">Start Chat</button>
            </tr>
        </tbody>
    </table>
</div>