<!--nav bar and chat h2
 implemented by Joshua Gardner-->
<nav>
    <strong>DoConnect</strong>
    <button class="create-question-button" (click)="goCreateQuestion()">Create Question</button>
    <button class="search-question-button" (click)="goSearchQuestion()">Search Question</button>
    <button class="chat-button" (click)="goChat()">Chat with Us!</button>
    <button class="user-home-button" (click)="goUserHome()">Your Home</button>
    <button class="sign-out-button" (click)="goSignOut()">Sign Out</button>
    <div class="username-div">
        {{username}}
    </div>
</nav>
<h2>Chat</h2>

<!--user chat bubbles 
    implemented by Juan David
    modified by Joshua Gardner-->
<div class="chat-list">
    <table class="user-chat-table">
        <thead>
            <th>Name</th>
            <th>Username</th>
            <th>Start Chat</th>
        </thead>
        <tbody *ngFor="let user of trueUsers">
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
                <td><button class="start-chat-button" (click)="startChat(user.username)">Start Chat</button></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </tbody>
    </table>
</div>