nav {
    border-radius: 3px;
    padding: 5px;
    width: 95%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 2px 4px #000000;
}

strong {
    display: inline-block;
    font-size: 20px;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: 25px auto;
}

button {
    border: none;
    font-size: 12px;
}

.sign-out-button {
    background-color: black;
    color: white;
}

.username-div {
    display: inline-block;
    text-align: center;
}

/*border-collapse: collapse
    THis is required if you want to put a border around a table row
    Without putting a border around every individual cell
    --Juan David*/
.user-chat-table {
    border-collapse: collapse;
    width: 50%;
    padding: 30px;
    border: solid black;
    border-radius: 10px;
    margin: 25px auto;
}
tr{
    /* background-color: aliceblue; */
    border: solid black;
    padding: 10px;
}

/* td {
    border: solid black;
    padding: 10px;
} */