<nav>
    <strong>DoConnect</strong>
    <button class="create-question-button" (click)="goCreateQuestion()">Create Question</button>
    <button class="search-question-button" (click)="goSearchQuestion()">Search Question</button>
    <button class="chat-button" (click)="goChat()">Chat with Us!</button>
    <button class="sign-out-button" (click)="goSignOut()">Sign Out</button>
    <div class="username-div">
        {{username}}
    </div>
</nav>
<h2>User To User Chat</h2>

<div class="container">
    <div class="div-my-chat">
        <h3>{{username}}</h3>
        <div class="table-my-chat" *ngFor="let chat of allChats">
            <div *ngIf="chat.sender==this.username && chat.recipient==recipientUsername">
                <div class="my-chat-bubble">{{chat.message}}</div>
            </div>
        </div>
    </div>

    <div class="div-their-chat">
        <h3>{{recipientUsername}}</h3>
        <div class="table-their-chat" *ngFor="let chat of allChats">
            <div *ngIf="chat.recipient==this.username &&chat.sender==recipientUsername">
                <div class="their-chat-bubble">{{chat.message}}</div>
            </div>
        </div>
    </div>

    <div class="div-chat-box">
        <textarea type="text" [(ngModel)]="this.chat.message" name="Chat Box" placeholder="Type text to send message"></textarea>
        <button class="send-button" (click)="sendChatMessage(this.chat.message)">Send</button>
    </div>
</div>