<nav>
    <strong>DoConnect</strong>
    <button class="create-question-button" (click)="goCreateQuestion()">Create Question</button>
    <button class="search-question-button" (click)="goSearchQuestion()">Search Question</button>
    <button class="chat-button" (click)="goChat()">Chat with Us!</button>
    <button class="sign-out-button" (click)="goSignOut()">Sign Out</button>
    <div class="username-div">
        {{username}}
    </div>
</nav>
<h2>User To User Chat</h2>
<div class="container">
    <div class="my-chat">
        <h3>{{username}}</h3>
        <table *ngFor="let chat of allChats">
            <tbody *ngIf="chat.sender==this.username && chat.recipient==recipientUsername">
                <tr class="my-chat-bubble">{{chat.message}}</tr>
            </tbody>
        </table>
    </div>
    
    <div class="their-chat">
        <h3>{{recipientUsername}}</h3>
        <table *ngFor="let chat of allChats">
            <tbody *ngIf="chat.recipient==this.username &&chat.sender==recipientUsername">
                <tr class="their-chat-bubble">{{chat.message}}</tr>
            </tbody>
        </table>
    </div>
    
</div>
<div class="chat-box">
    <input type="text" [(ngModel)]="this.chat.message" name="Chat Box" placeholder="Type text to send message">
    <button (click)="sendChatMessage(this.chat.message)">Send</button>
</div>