nav {
    border-radius: 3px;
    padding: 5px;
    width: 95%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 2px 4px #000000;
}

strong {
    display: inline-block;
    font-size: 20px;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: 25px auto;
}

button {
    border: none;
    font-size: 12px;
}

.sign-out-button {
    background-color: black;
    color: white;
}

.username-div {
    display: inline-block;
    text-align: center;
}

.container{
    width: 85%;
    padding: 25px;
    border: solid black;
    border-radius: 10px;
    margin: 25px auto;
    text-align: center;
}

h3 {
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
}
.div-my-chat {
    width: 45%;
    margin:auto;
    display: inline-block;
}

.table-my-chat{
    border: solid black;
    width: 49%;
    margin: 15px auto;
    border-collapse: collapse;
    padding: 10px;
    border-radius: 15px;
    background-color: aliceblue;
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* .my-chat-bubble{
    border: solid black;
}
 */

.div-their-chat {
    display: inline-block;
    width: 45%;
    margin:auto;
}

.table-their-chat{
    border: solid black;
    width: 49%;
    margin: 15px auto;
    border-collapse: collapse;
    padding: 10px;
    border-radius: 15px;
    background-color: aliceblue;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.div-chat-box{
    width: 100%;
    border: solid black;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

textarea{
    width: 100%;
    margin: auto;
}

.send-button {
    background-color: rgb(117, 234, 117);
}

