<nav>
    <strong>Do Connect User</strong>
    <button class="home-button" [routerLink]="'/home'">Home</button>
</nav>
<h2>User Login Page</h2>
<!--This is the application registration form for users-->
<div class="container">
    <form novalidate #registerUserForm="ngForm" (ngSubmit)="onSubmitAdd(registerUserForm)">
        <table class="register-user-table">
            <thead>
                <th colspan="2">Sign Up Now!</th>
            </thead>
            <tr>
                <td><label for="name">Name </label></td>
                <td><input type="text" [(ngModel)]="registerForm.name" name="name" placeholder="Enter your name"
                        required></td>
            </tr>
            <tr>
                <td><label for="username">Username </label></td>
                <td><input type="text" [(ngModel)]="registerForm.username" name="username"
                        placeholder="Enter your username" required></td>
            </tr>
            <tr>
                <td><label for="salary">Password </label></td>
                <td><input type="password" [(ngModel)]="registerForm.password" name="password"
                        placeholder="Enter your password" required></td>
            </tr>
            <tr>
                <td><label for="email">Email </label></td>
                <td><input type="email" [(ngModel)]="registerForm.email" name="email"
                        placeholder="Enter your email address" required></td>
            </tr>
            <button class="register-user-button" [disabled]="registerUserForm.invalid" (click)="refresh()"
                type="submit">Sign Up</button>
        </table>
    </form>

    <!--This is the user login form-->
    <form class="login-user-form" novalidate #userLoginForm="ngForm" (ngSubmit)="onSubmitLogin(userLoginForm)">
        <table class="login-user-table">
            <thead>
                <th colspan="2">Login Now!</th>
            </thead>
            <tr>
                <td><label for="username">Username </label></td>
                <td><input type="text" [(ngModel)]="loginForm.username" name="username"
                        placeholder="Enter your username" required></td>
            </tr>
            <tr>
                <td><label for="password">Password </label></td>
                <td><input type="password" [(ngModel)]="loginForm.password" name="password"
                        placeholder="Enter your password" required></td>
            </tr>
            <button class="login-button" [disabled]="userLoginForm.invalid" type="submit">Login</button>
        </table>
    </form>
</div>
