nav {
    border-radius: 3px;
    padding: 5px;
    width: 95%;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 4px #000000;
    margin-bottom: 40px;
}

strong {
    display: inline-block;
    font-size: 20px;
}

.home-button {
    float: right;
    margin: 5px 5%;
    border: none;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    margin: 25px auto;
}

.container {
    display: flex;
    justify-content: space-evenly;
    border: solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
}

form {
    display: inline-block;
}

.login-user-form {
    margin-left: 10%;
}

thead {
    padding: 5px;
}

th {
    font-size: x-large;
    text-align: center;
}
/* h3 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 90%;
    margin:auto;
    margin-top: 20px;
    border: solid black 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(233, 232, 232);
}

table {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 90%;
    margin: auto;
    border: solid black 1px;
    border-top: none;
    padding: 10px;
    background-color: white;
}

td {
    padding: 10px;
}

.user-list td {
    text-align: center;
    width: 15%;
}

span {
    position: relative;
    left: 10px;
}

body {
    background-color: rgb(205, 202, 202);
}

input {
    width: 80%;
    margin: auto;
    position: relative;
    right: 40%;
} 

.register-user-button, .reset-button {
    background-color: rgb(54, 54, 238);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    opacity: .7;
}

.register-user-button, .login-button {
    margin-right: 20px; 
}

.reset-button {
    background-color: rgb(198, 198, 94);
} */