<!--nav bar and Create New Question h2 
    implemented by Joshua Gardner-->
<nav>
    <strong>DoConnect</strong>
    <button class="create-question-button" (click)="goCreateQuestion()">Create Question</button>
    <button class="search-question-button" (click)="goSearchQuestion()">Search Question</button>
    <button class="chat-button" (click)="goChat()">Chat with Us!</button>
    <button class="user-home-button" (click)="goUserHome()">Your Home</button>
    <button class="sign-out-button" (click)="goSignOut()">Sign Out</button>
    <div class="username-div">
        {{username}}
    </div>
</nav>
<h2>Create New Question</h2>
<!--Create question form for users to create new questions requiring approval by admin-->
<!--implemented by Joshua Gardner-->
<div class="div-create-question">
<form novalidate #createQuestionForm="ngForm" (ngSubmit)="onSubmitCreateQuestion(createQuestionForm)">
    <table>
        <tr>
           <td><input clsas="input-title" type="text" [(ngModel)]="questionDTO.title" name="title" placeholder="title" required></td>
        </tr>
        <tr>
            <td><select name="topic" [(ngModel)]="questionDTO.topic" required>
                <option value="">-choose a topic-</option>
                <option value="server">server</option>
                <option value="client">client</option>
                <option value="gardening">gardening</option>
                <option value="relationships">relationships</option>
                <option value="internet">internet</option>
                <option value="music">music</option>
                <option value="media">media</option>
                <option value="movies">movies</option>
                <option value="anime">anime</option>
                <option value="animals">animals</option>
                <option value="politics">politics</option>
                <option value="technology">technology</option>
                <option value="databases">databases</option>
            </select></td>
        </tr>
        <tr>
            <td><textarea class ="input-description" type="textfield" [(ngModel)]="questionDTO.description_question" name="description" placeholder="description" required></textarea></td>
        </tr>
        <tr>
            <td><input class="file-upload" type="file" [(ngModel)]="questionDTO.image_src" name="image" onchange="console.log(event.target.files)" required></td>
        </tr>
        <button class="search-button" type="submit" (click)="refresh()">create</button>
    </table>
</form>
</div>