<nav>
    <strong>DoConnect</strong>
    <button class="create-question-button" (click)="goCreateQuestion()">Create Question</button>
    <button class="search-question-button" (click)="goSearchQuestion()">Search Question</button>
    <button class="chat-button" (click)="goChat()">Chat with Us!</button>
    <button class="sign-out-button" (click)="goSignOut()">Sign Out</button>
    <div class="username-div">
        {{username}}
    </div>
</nav>
<h1>Create New Question</h1>
<form novalidate #createQuestionForm (ngSubmit)="onSubmitCreateQuestion(createQuestionForm)">
    <table>
        <tr>
           <td><input type="text" [(ngModel)]="questionDTO.title" name="title" placeholder="title" required></td>
        </tr>
        <tr>
            <td><select name="topic" [(ngModel)]="questionDTO.topic" required>
                <option value="0">-choose a topic-</option>
                <option value="1">server</option>
                <option value="2">client</option>
                <option value="3">database</option>
            </select></td>
        </tr>
        <tr>
            <td><input type="textfield" [(ngModel)]="questionDTO.description" name="description" placeholder="description" required></td>
        </tr>
        <!-- <tr>
            <td><input class="file-upload" type="file" [(ngModel)]="questionDTO.image" name="image" onchange="console.log(event.target.files)" required></td>
        </tr> -->
        <button type="submit">create</button>
    </table>
</form>