<!--nav bar and Pending Questions h2 
    implemented by Joshua Gardner-->
<nav>
    <strong>DoConnect</strong>
    <button class="pending-question-button" (click)="goPendingQuestion()">Pending Question</button>
    <button class="pending-answer-button" (click)="goPendingAnswer()">Pending Answer</button>
    <button class="sign-out-button" (click)="goSignOut()">Sign Out</button>
    <div class="username-div">
        {{username}}
    </div>
</nav>
<h2>Pending Questions: {{pendingQuestions.length}}</h2>

<!--displays list of questions with "Pending for approval" status for admin review
    implemented by Joshua Gardner-->
<div *ngFor="let question of pendingQuestions" class="div-pending-questions">
    <img class="div-image" src={{question.image_src}} alt="Image not available">
    <table class="created-question-table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{question.id}}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{question.qcreated_by}}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{question.title}}</td>
            </tr>
            <tr>
                <td>Topic</td>
                <td>{{question.topic}}</td>
            </tr>
            <tr>
                <td>description</td>
                <td>{{question.description_question}}</td>
            </tr>
        </tbody>
    </table>
    <div class="div-approve-remove">
        <button class="approve-button" (click)="approveQuestion(question.id)">approve</button>
        <button class="remove-button" (click)="removeQuestion(question.id)">remove</button>
    </div>
</div>