nav {
    border-radius: 3px;
    padding: 5px;
    width: 95%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 2px 4px #000000;
}

strong {
    display: inline-block;
    font-size: 20px;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    margin: 25px auto;
}

button {
    border: none;
    font-size: 12px;
}

.sign-out-button {
    background-color: black;
    color: white;
}

.username-div {
    display: inline-block;
    text-align: center;
}


.div-pending-questions {
    width: 90%;
    padding: 30px;
    border: solid black;
    border-radius: 10px;
    margin: 25px auto;
}

.div-image {
    border: solid black;
    width: 74.5%;
    margin: 10px auto;
    display: block;
}

.created-question-table {
    border: black solid;
    border-collapse: collapse;
    width: 75%;
    margin:auto;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

td {
    border: solid black;
    padding: 10px;
}

.div-approve-remove {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    margin-top:25px;
}

.approve-button, .remove-button {
    padding: 10px;
    border: solid black;
    border-radius: 15px;
}

.approve-button {
    background-color: rgb(117, 234, 117);
}

.remove-button {
    background-color: rgb(223, 71, 71);
}