<router-outlet></router-outlet>

<nav>
    <a routerLink="active" routerLink="/home">Home |</a>
    <a routerLink="active" routerLink="/user-login"> user-login |</a>
    <a routerLink="active" routerLink="/admin-login"> admin-login |</a>
    <a routerLink="active" routerLink="/user-home"> user-login |</a>
    <a routerLink="active" routerLink="/admin-home"> user-login |</a>
    <a routerLink="active" routerLink="/admin-sign-up"> admin-sign-up |</a>
    <a routerLink="active" routerLink="/create-question"> create-question |</a>
    <a routerLink="active" routerLink="/search-question"> search-question |</a>
    <a routerLink="active" routerLink="/created-question"> created-question |</a>
    <a routerLink="active" routerLink="/pending-question"> pending-question |</a>
    <a routerLink="active" routerLink="/created-answer">created-answer |</a>
    <a routerLink="active" routerLink="/pending-answer"> pending-answer |</a>
    <a routerLink="active" routerLink="/approved-answer"> approved-answer |</a>
    <a routerLink="active" routerLink="/chat"> chat |</a>
    <a routerLink="active" routerLink="/user-to-user-chat"> user-to-user-chat </a>
</nav>