<form novalidate #addUserForm="ngForm" (ngSubmit)="onSubmitAdd(addUserForm)">
    <h3><span>User</span></h3>
    <table class="add-user-table">
        <tr>
            <td><label for="name">Name </label></td>
            <td><input type="text" [(ngModel)]="userForm.name" name="name" placeholder="Enter your name" required></td>
        </tr>
        <tr>
            <td><label for="username">Username  </label></td>
            <td><input type="text" [(ngModel)]="userForm.username" name="username" placeholder="Enter your username" required></td>
        </tr>
        <tr>
            <td><label for="salary">Password </label></td>
            <td><input type="password" [(ngModel)]="userForm.password" name="password" placeholder="Enter your password"
                required></td>
        </tr>
        <tr>
            <td><label for="email">Email </label></td>
            <td><input type="email" [(ngModel)]="userForm.email" name="email" placeholder="Enter your email address"
                required></td>
        </tr>
        <button class="add-button" [disabled]="addUserForm.invalid" (click)="refresh()" type="submit">Add</button>
        <button class="reset-button" type="button" (click)='resetForm()'>Reset Form</button>
    </table>
</form>

<h3><span>List of Users</span></h3>
<table class="user-list">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>password</th>
        <th>email</th>
        <th>userType</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.email}}</td>
            <td>{{user.userType}}</td>
        </tr>
    </tbody>
</table>