nav {
    border-radius: 3px;
    padding: 5px;
    width: 95%;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 4px #000000;
}

strong {
    display: inline-block;
    font-size: 20px;
}

.home-button {
    float: right;
    margin: 5px 5%;
    border: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

form {
    display: inline-block;
}

.login-admin-form {
    margin-left: 10%;
}

thead {
    padding: 5px;
}

th {
    font-size: x-large;
    text-align: center;
}