{{message}}
<br>
<!--This is the application registration form for admin-->
<form novalidate #registerAdminForm="ngForm" (ngSubmit)="onSubmitAdd(registerAdminForm)">
    <h3><span>Sign Up Now</span></h3>
    <table class="register-admin-table">
        <tr>
            <td><label for="name">Name </label></td>
            <td><input type="text" [(ngModel)]="registerForm.name" name="name" placeholder="Enter your name" required></td>
        </tr>
        <tr>
            <td><label for="username">Username  </label></td>
            <td><input type="text" [(ngModel)]="registerForm.username" name="username" placeholder="Enter your username" required></td>
        </tr>
        <tr>
            <td><label for="salary">Password </label></td>
            <td><input type="password" [(ngModel)]="registerForm.password" name="password" placeholder="Enter your password"
                required></td>
        </tr>
        <tr>
            <td><label for="email">Email </label></td>
            <td><input type="email" [(ngModel)]="registerForm.email" name="email" placeholder="Enter your email address"
                required></td>
        </tr>
        <button class="register-admin-button" [disabled]="registerAdminForm.invalid" (click)="refresh()" type="submit">Sign Up</button>
    </table>
</form>