/* styles implemented by Joshua Gardner*/

nav {
    border-radius: 3px;
    padding: 5px;
    width: 95%;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 4px #000000;
    margin-bottom: 40px;
}

strong {
    display: inline-block;
    font-size: 20px;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    margin: 25px auto;
}

.home-button {
    float: right;
    margin: 5px 5%;
    border: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
    border: solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    flex-direction: row;
}

/* Responsive layout*/
@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
}

form {
    display: inline-block;
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

thead {
    padding: 5px;
}

th {
    font-size: x-large;
    text-align: center;
}

table {
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

input {
    border: 2px solid black;
    border-radius: 4px;
}