/* You can add global styles to this file, and also import other style files */
h3 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 90%;
    margin:auto;
    margin-top: 20px;
    border: solid black 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(233, 232, 232);
}

table {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 90%;
    margin: auto;
    border: solid black 1px;
    border-top: none;
    padding: 10px;
    background-color: white;
}

td {
    padding: 10px;
}

.user-list td {
    text-align: center;
    width: 15%;
}

span {
    position: relative;
    left: 10px;
}

body {
    background-color: rgb(205, 202, 202);
}

input {
    width: 80%;
    margin: auto;
    position: relative;
    right: 40%;
} 

.remove-button, .edit-button {
    background-color: red;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
    opacity: .7;
    width: 75px;
}

.edit-button {
    background-color: rgb(52, 169, 52);
    padding: 8px 10px;
    margin: 5px 20px;
    width: 50px;
}

.add-button, .reset-button, .update-button {
    background-color: rgb(54, 54, 238);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    opacity: .7;
}

.add-button {
    margin-right: 20px; 
}

.reset-button {
    background-color: rgb(198, 198, 94);
}

.update-button {
    margin-right: 5px;
}
